{% extends "base.njk" %}

{% block content %}

    <section class="site-contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <h1 class="site-contact-title">
              {{title}}
			  <span>{{subTitle}}</span>
            </h1>
          </div>
          <div class="col-lg-6 text-center ml-auto">

		  <a href="https://t.me/despaceqf"><img
		  src="/assets/images/logo-despaceqf.jpg" />
		  <br/>Join the conversation on Telegram</a>

          </div>
        </div>
      </div>
    </section>
  
{% endblock %}
{% block workTogether %}{% endblock %}
